[submodule "cpp-mjpeg-streamer"]
	path = 3rdparty/cpp-mjpeg-streamer
	url = https://github.com/nadjieb/cpp-mjpeg-streamer.git
[submodule "BME280_driver"]
	path = 3rdparty/BME280_driver
	url = https://github.com/boschsensortec/BME280_driver.git
[submodule "wsServer"]
	path = 3rdparty/wsServer
	url = https://github.com/Theldus/wsServer.git
[submodule "pico-sdk"]
	path = 3rdparty/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "librealsense"]
	path = 3rdparty/librealsense
	url = https://github.com/IntelRealSense/librealsense.git
[submodule "3rdparty/whisper.cpp"]
	path = 3rdparty/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
